Part 2 Lab - Graph GUI Display + My addition
{{accelerometer-display currX=x currY=y}}

<p><font face="verdana" font size ='6' color="#4c84af"><b>Device Properties</b></font></p>
<div style="-moz-box-shadow: 1px 1px 3px 2px #4c84af;
  -webkit-box-shadow: 1px 1px 3px 2px #4c84af;
  box-shadow:         1px 1px 3px 2px #4c84af;">
<marquee behavior="scroll" direction="right" color="">Click below</marquee></div>
{{device-properties}}
